<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bg.tu_varna.si.rentacarapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_rentacar_89116"
        android:label="Rent a Car"
        android:roundIcon="@drawable/ic_rentacar_89116"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CompanyEmployees" />
        <activity android:name=".CompanyNew"/>
        <activity android:name=".EmployeeProfile"/>
        <activity android:name=".AdministratorAllCompanies"/>
        <activity android:name=".Profile"/>
        <activity android:name=".OperatorMain"/>
    </application>

</manifest>