<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bg.tu_varna.si.rentacarapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_rentacar_89116"
        android:label="Rent a Car"
        android:roundIcon="@drawable/ic_rentacar_89116"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.ProblemReport"></activity>
        <activity android:name=".activities.ContractNew" />
        <activity android:name=".activities.CarNew" />
        <activity android:name=".activities.Client_new" />
        <activity android:name=".Queries" />
        <activity android:name=".Cars" />
        <activity android:name=".Clients" />
        <activity android:name=".Contracts" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CompanyEmployees" />
        <activity android:name=".activities.CompanyNew" />
        <activity android:name=".activities.EmployeeProfile" />
        <activity android:name=".AdministratorAllCompanies" />
        <activity android:name=".activities.OperatorMain" />
    </application>

</manifest>